[Unit]
Description=Setup psplash-systemd service post root pivot
DefaultDependencies=no
Before=initrd-cleanup.target
After=run-mnt-data.mount
After=run-mnt-base.mount
After=sysroot.mount
After=sysroot-writable.mount
Requires=run-mnt-data.mount
Requires=run-mnt-base.mount
Requires=sysroot.mount
Requires=sysroot-writable.mount
Wants=the-tool.service
After=the-tool.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/psplash-systemd setup
